<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <!-- Reutilizamos el CSS global -->
    <link rel="stylesheet" href="../static/css/auth.css">
</head>
<body>
    <header class="app-header">
        <h1 class="header-title">Mi Fecha Médica</h1>
    </header>

    <main class="auth-container">
        <h2>Bienvenido</h2>
        <p class="index-description">Selecciona una opción para continuar a la plataforma.</p>

        <section class="index-actions">
            <a href="./login.html" class="btn-link btn-primary">Iniciar Sesión</a>
            <a href="./register.html" class="btn-link btn-secondary">Crear Cuenta</a>
        </section>

</body>
</html>